Repository tistech0/Pictou, pull requests merged in 2024-04, with the labels that each got.

#115 fix(114): add support for `image/jpg`
  back/src/api/images.rs
  back/src/error_handler.rs
  back/src/image/mod.rs
Labels: bug

#122 feat: add tags filter image
  back/src/api/images.rs
Labels: backend, API

#124 feat: use openapi try merge
  front/.gitignore
  front/android/app/src/main/AndroidManifest.xml
  front/api/.openapi-generator-ignore
  front/api/.openapi-generator/FILES
  front/api/README.md
  front/api/lib/pictouapi.dart
  front/api/lib/src/api.dart
  front/api/lib/src/api/albums_api.dart
  front/api/lib/src/api/auth_api.dart
  front/api/lib/src/api/images_api.dart
  front/api/lib/src/api/users_api.dart
  front/api/lib/src/auth/api_key_auth.dart
  front/api/lib/src/auth/basic_auth.dart
  front/api/lib/src/auth/bearer_auth.dart
  front/api/lib/src/auth/oauth.dart
  front/api/lib/src/date_serializer.dart
  front/api/lib/src/model/album.dart
  front/api/lib/src/model/album_list.dart
  front/api/lib/src/model/api_error.dart
  front/api/lib/src/model/authentication_response.dart
  front/api/lib/src/model/image_meta_data.dart
  front/api/lib/src/model/images_meta_data.dart
  front/api/lib/src/model/user_list.dart
  front/api/lib/src/serializers.dart
  front/api/pubspec.yaml
  front/lib/api/openapi.json
  front/lib/core/config/albumprovider.dart
  front/lib/core/config/imagesprovider.dart
  front/lib/core/config/userprovider.dart
  front/lib/core/domain/entities/album.entity.dart
  front/lib/core/domain/entities/image.entity.dart
  front/lib/core/domain/entities/openapi.dart
  front/lib/core/domain/services/api_service.dart
  front/lib/core/domain/usecase/modified_name.use_case.dart
  front/lib/core/domain/usecase/shared_album.use_case.dart
  front/lib/core/domain/usecase/upload_images.use_case.dart
  front/lib/features/_global/domain/usecases/add_new_album.use_case.dart
  front/lib/features/_global/presentation/widgets/bottom_bar.widget.dart
  front/lib/features/_global/presentation/widgets/import_pictures_dialog.widget.dart
  front/lib/features/_global/presentation/widgets/new_album_dialog.widget.dart
  front/lib/features/home/presentation/screens/homepage.screen.dart
  front/lib/features/home/presentation/widgets/container_image.widget.dart
  front/lib/features/home/presentation/widgets/refreshable_album_carousel.widget.dart
  front/lib/features/home/presentation/widgets/triple_view_container.widget.dart
  front/lib/features/login/presentation/widgets/webviewpage.dart
  front/lib/features/viewpictures/presentation/screens/viewpictures.screen.dart
  front/lib/features/viewpictures/presentation/widgets/photo_grid_item.widget.dart
  front/lib/features/viewpictures/presentation/widgets/photo_viewer.widget.dart
  front/lib/features/viewpictures/presentation/widgets/shared_album.widget.dart
  front/lib/main.dart
  front/pubspec.lock
  front/pubspec.yaml
Labels: front

#131 fix: shared album and openapi patch album
  back/src/api/albums.rs
  back/src/openapi.rs
Labels: backend, API

#134 feat: delete image
  front/api/lib/src/api.dart
  front/lib/core/config/imagesprovider.dart
  front/lib/core/domain/usecase/deleted_picture.use_case.dart
  front/lib/core/domain/usecase/upload_images.use_case.dart
  front/lib/features/_global/presentation/widgets/bottom_bar.widget.dart
  front/lib/features/_global/presentation/widgets/import_pictures_dialog.widget.dart
  front/lib/features/viewpictures/presentation/screens/viewpictures.screen.dart
  front/lib/features/viewpictures/presentation/widgets/photo_viewer.widget.dart
Labels: front
